<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body> </body>
<table class="table-table-dark">
    <thead>
    <tr>
        <th>id</th>
        <th>Color</th>
        <th>Model</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.id}">id</td>
        <td th:text="${car.color}">color</td>
        <td th:text="${car.model}">model</td>
    </tr>
    </tbody>
</table>

</html>
</html>